configuration {
    kb-row-up: "Up,Control+p,k";
    kb-row-down: "Down,Control+n,j";
    kb-row-left: "Control+Page_Up,h";
    kb-row-right: "Control+Page_Down,l";
}

@import "colors.rasi"

* {
    background-color: @background;
    text-color: @foreground;
}

window {
    width: 1150px;
    anchor: center;
    location: center;
    background-color: @background;
    border: 5;
    border-radius: 24px;
    padding: 24px;
}

inputbar {
    children: [ prompt, entry ];
    padding: 10px 16px;
    border-radius: 20px;
    margin: 0px 0px 16px 0px;
}

prompt {
    font: "Departure Mono 11";
    text-color: @accent;
}

mainbox {
    children: [ inputbar, listview ];
    spacing: 16px;
}

listview {
    layout: vertical;
    columns: 4;
    lines: 3;
    fixed-columns: true;
    fixed-height: false;
    dynamic: true;
    spacing: 16px;
    scrollbar: true;
    scrollbar-width: 6px;
    cycle: false;
}

element {
    orientation: vertical;
    padding: 8px;
    border: 4px;
    border-color: transparent;
    border-radius: 20px;
    spacing: 8px;
    children: [element-icon, element-text];
}

element-num, element-index {
    enabled: false;
}

element selected {
    border-color: @accent;
}

element-icon {
    expand: true;
    size: 160px;
    squared: false;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element-text {
    font: "Departure Mono 10";
    text-color: inherit;
    horizontal-align: 0;
    vertical-align: 0.5;
    margin: 0;
}

scrollbar {
    handle-width: 6px;
    handle-color: @accent;
    handle-rounded-corners: true;
}
