* {
    font-family: "Ndot 57", "Symbol Nerd Font", sans-serif;
    margin: 1px 10px 0px 10px;
    color: #f8f8f2;
    font-weight: bold;
}

/* Entire bar */
#waybar {

      background-color: rgba(30, 31, 41, 0.0);
  }
/* Specific module tweaks */
#window
#clock
#network {
  font-size: 14px;
}
#battery {
    font-size: 15px;
}

#window {
  font-size: 17px;
}
/* Active workspace highlight */
#workspaces  {
      font-size: 15px;
}
#workspaces button {
  margin: 0px 0px 0px 0px;
      padding: 1px 0px;
}
#clock {
  font-size: 15px;
}
#custom-wifi-down {
    font-size: 15px;      
}
#custom-memory {
    font-size: 15px;      
  }
#custom-kblayout {
  font-size: 17px;
}
