* {
    font-family: "Ndot 57", "Symbol Nerd Font", sans-serif;
    padding: 0px 5px 0px 20px;
    color: #f8f8f2;
    font-weight: bold;
}

/* Entire bar */
#waybar {
      border-radius: 0px;
      margin: 0px;
      background-color: rgba(30, 31, 41, 0.);
  }
/* Specific module tweaks */
#window
#clock
#network {
  font-size: 17px;
}
#battery {
    font-size: 16px;
}

#window {
  font-size: 18px;
}
/* Active workspace highlight */
#workspaces  {
      font-size: 16px;
}
#workspaces button {
  margin: 0px 0px 0px 0px;
}
#clock {
  font-size: 16px;
    padding:0px 70px 0px 0px;
}
#custom-wifi-speed {
    font-size: 16px;      
}
#custom-memory {
    font-size: 16px;      
  }
#custom-kblayout {
  font-size: 16px;
}
#custom-date {
    font-size: 16px;
  }
  #pulseaudio {
    font-size: 16px;
  }
