/* Base for everything */
* {
    font-family: "Ndot 57", "Symbol Nerd Font", sans-serif;
    padding: 0 4px;        /* minimal padding inside modules */
    color: #f8f8f2;
    font-weight: bold;
}

/* Entire bar */
#waybar {
    background-color: rgba(40, 42, 54, 0.0); /* translucent */
    padding-bottom: 0px;   /* space below modules */
    border-radius: 0px;
  }
/* All modules inside the bar */
#waybar > * {
    background-color: rgba(40, 42, 54, 0.4);
    border-radius: 10px;
    margin: 10px 10px;
  }

/* Specific module tweaks */
#window,
#clock,
#network {
  font-size: 14px;
    padding: 0 30px;
}
#battery {
    font-size: 15px;
    padding: 0 10px;
}

#window {
  font-size: 17px;
}
/* Active workspace highlight */
#workspaces  {
      font-size: 15px;

}

#clock {
  font-size: 15px;
}
