/* Base for everything */
* {
    font-family: "Ndot 57", "Symbol Nerd Font", sans-serif;
    font-size: 16px;       /* small font for thin bar */
    padding: 0 4px;        /* minimal padding inside modules */
    color: #f8f8f2;
}

/* Entire bar */
#waybar {
    background-color: rgba(40, 42, 54, 0.0); /* translucent */
    padding-bottom: 10px;   /* space below modules */
    border-radius: 10px;
  }
/* All modules inside the bar */
#waybar > * {
    background-color: rgba(40, 42, 54, 0.7);
    border-radius: 10px;
    margin: 10px 10px;
  }

/* Specific module tweaks */
#window,
#clock,
#network,
#battery {
    font-size: 14px;
    padding: 0 10px;
}

/* Active workspace highlight */
#workspaces button.active {
}

