* {
    font-family: "Ndot 57", "Symbol Nerd Font";
    padding: 0px 7px 0px 7px;
    color: #f2f2f2;
    font-weight: 900;
}

/* Entire bar */
#waybar {
      border-radius: 10px;
      background-color: rgba(30, 31, 41, 0.3);
  }
/* Specific module tweaks */
#window
#clock
#network {
  font-size: 8px;
}
#battery {
    font-size: 16px;
    padding:0px 15px 0px 15px;
}

#window {
  font-size: 18px;
    padding:0px 15px 0px 15px;
}
/* Active workspace highlight */
#workspaces  {
      font-size: 16px;
  margin: 2px 18px 0px 0px;
}
#workspaces button {
}
#clock {
  font-size: 16px;
    padding:0px 15px 0px 15px;
}
#custom-wifi-speed {
    font-size: 16px;      
    padding:0px 15px 0px 15px;
}
#custom-memory {
    font-size: 16px;      
    padding:0px 15px 0px 15px;
  }
#custom-kblayout {
  font-size: 16px;
    padding:0px 15px 0px 15px;
}
#custom-date {
    font-size: 16px;
    padding:0px 15px 0px 15px;
  }
  #pulseaudio {
    font-size: 16px;
    padding:0px 15px 0px 15px;
  }

