
@define-color background #282a36;
@define-color foreground #f8f8f2;


* {
    border:#282a36;
    border-radius: 8px;
    font-family: "  Ndot 57 , Symbol Nerd Font";
    font-weight: bold;
    font-size: 15px;
    padding: 0px 2px;      /* Reduce padding */
    min-height: 0;
}

window#waybar {
    border-radius: 8px;
    background: alpha(@background, 0.50);
  }
tooltip label {
    color: @foreground;
        border-radius: 0px;

}

#workspaces {
    background: alpha(@background, 0.0);
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#workspaces button {
    padding: 0px;
    color: alpha(@foreground, 0.5);
    background: transparent;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    background: alpha(@background, 0.9);
    color: lighter(@main-color);
    border-radius: 20px;
    transition: color 0.5s;
    margin-left: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.8s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.focused {
    color: @color5;
    background: transparent;
}

#workspaces button.urgent {
    color: @color5;
    background: transparent;
}

#workspaces button:hover {
    background: transparent;
    color: @color5;
}

#window,
#clock,
#battery,
#network,
#memory,
#custom-recording,
#bluetooth,
#workspaces {
    padding: 0px 11px 0px 11px;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}


#window {
    background: alpha(@background, 0.0);
    font-size: 18px;
    color: lighter(@main-color);
}


#clock {
    color: lighter(@main-color);
    background: transparent;
}

#network {
    color: lighter(@main-color);
    background: transparent;
}
 

#battery {
    color: lighter(@main-color);
    background: transparent;
}

#memory {
    color: lighter(@main-color);
    background: transparent;
}

#calendar {
    color: lighter(@main-color);
    background: transparent;

}
