overview {
    backdrop-color "#ffffff"
}

layout {
    border {
        active-color "#00696f"
        inactive-color "#3f4849"
        urgent-color "#ba1a1a"
    }
    focus-ring {
        active-color "#00696f"
        inactive-color "#3f4849"
        urgent-color "#ba1a1a"
    }
    shadow {
        color "#000000"
    }
}

recent-windows {
    highlight {
        active-color "#00696f"
        urgent-color "#ba1a1a"
    }
}
