overview {
    backdrop-color "#1f1c2b"
}

layout {
    border {
        active-color "#61e2ff"
        inactive-color "#dbe3e3"
        urgent-color "#fe4450"
    }
    focus-ring {
        active-color "#61e2ff"
        inactive-color "#dbe3e3"
        urgent-color "#fe4450"
    }
    shadow {
        color "#000000"
    }
}

recent-windows {
    highlight {
        active-color "#61e2ff"
        urgent-color "#fe4450"
    }
}
