overview {
    backdrop-color "#191828"
}

layout {
    border {
        active-color "#c4a7e7"
        inactive-color "#c7c3e6"
        urgent-color "#eb6f92"
    }
    focus-ring {
        active-color "#c4a7e7"
        inactive-color "#c7c3e6"
        urgent-color "#eb6f92"
    }
    shadow {
        color "#000000"
    }
}

recent-windows {
    highlight {
        active-color "#c4a7e7"
        urgent-color "#eb6f92"
    }
}
