include "borders.kdl"
prefer-no-csd
environment {
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}
cursor {
    xcursor-theme "ComixCursors-White"
    xcursor-size 3
    hide-after-inactive-ms 3000
}
overview {
    zoom 0.70
    workspace-shadow {
      // off
        softness 40
        spread 60
        offset x=0 y=60
    }
}
xwayland-satellite {
    // off
    path "xwayland-satellite"
}
clipboard {
    disable-primary
}


input {
      focus-follows-mouse
    keyboard {
        repeat-delay 200
        repeat-rate 40
        xkb {
            layout "us,ara"
            options "grp:ctrl_space_toggle,numpad:mac"
        }
        numlock
    }

    touchpad {
       // natural-scroll
       accel-speed 0.2
       click-method "clickfinger"
        tap
    }
    mouse {
    }
    trackpoint {
    }
}

gestures {
    hot-corners {
        top-left
    }
}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1.0
}

layout {
    gaps 32
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.2
        proportion 0.2
        proportion 0.2
    }

    default-column-width { proportion 0.50; }


    shadow {
        on
        softness 15
        spread 1
        offset x=12 y=0
        color "#000000"
    }
    
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    
    insert-hint {
    }
}

// Startup Applications
spawn-sh-at-startup "doas /usr/bin/keyd"
spawn-sh-at-startup "dbus-launch waybar"
spawn-sh-at-startup "pipewire"
spawn-sh-at-startup "pipewire-pulse"
spawn-sh-at-startup "wireplumber"
spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "--namespace" "backdrop"
layer-rule {
    match namespace="^awww-daemonbackdrop$"
    place-within-backdrop true
}
hotkey-overlay {
     skip-at-startup
}
screenshot-path null
animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=60 epsilon=0.0001
    }

    window-open {
        duration-ms 600
        curve "ease-out-cubic"
    }

    window-close {
        duration-ms 600
        curve "ease-out-cubic"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=60 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=60 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=60 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=60 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=60 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=100 epsilon=0.0001
    }

        recent-windows-close {
        spring damping-ratio=1.0 stiffness=100 epsilon=0.001
    }
}

layer-rule {
    match namespace="waybar"
    match at-startup=true
    match layer="top"
    block-out-from "screencast"
    geometry-corner-radius 20
    background-effect {
        xray true
        blur true
        noise 0
        saturation 2
                liquid-glass {
                    refraction-strength 80.0
                    power-factor  9
                    refraction-power 1.0
        }
    }
  }

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    background-effect {
        blur true
        xray true
        liquid-glass {
            refraction-strength 10.0
            power-factor  1
            refraction-power 1.0
        }
    }
 }


binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+space { spawn "fuzzel"; }
    Mod+Return hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Super+C hotkey-overlay-title="Open Browser: LibreWolf" { spawn "librewolf"; }
    Super+Shift+Q hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp     allow-when-locked=true { spawn "light" "-A" "10"; }
    XF86MonBrightnessDown     allow-when-locked=true { spawn "light" "-U" "10"; }
    Mod+Shift+W { spawn "~/.local/bin/wallpaper random"; }   
    Mod+0 repeat=false { toggle-overview; }
    Mod+W repeat=true { toggle-overview; }
    Mod+Shift+o repeat=false { toggle-overview; }
    Mod+X repeat=false { close-window; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Shift+Return { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Shift+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Shift+L     { move-column-right; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+j { move-column-to-workspace 2; }
    Mod+Shift+k { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+S { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+b { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Print { screenshot-window write-to-disk=false; }
    Mod+Escape { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}
recent-windows {
    // off
    debounce-ms 60
    open-delay-ms 0
    highlight {
        urgent-color "#999999ff"
        active-color "#ff9999ff"
        padding 20
        corner-radius 30
    }

    previews {
        max-height 500
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}



