
include "borders.kdl"
prefer-no-csd
environment {
    QT_QPA_PLATFORM "wayland"
    XDG_CURRENT_DESKTOP "niri"
    DISPLAY ":0"
    ELECTRON_OZONE_PLATFORM_HINT "auto"

    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"

    GDK_BACKEND "wayland,x11"

    MOZ_ENABLE_WAYLAND "1"
    MOZ_DBUS_REMOTE "1"
}
cursor {
    xcursor-theme "MacTahoe-dark"
    xcursor-size 30
    hide-after-inactive-ms 500
    hide-when-typing
}
overview {
    zoom 0.7
    backdrop-color "#000000"

    workspace-shadow {
      // off
        softness 60
        spread 12
        offset x=0 y=10
        color "#000000ee"
    }

}
xwayland-satellite {
    // off
    path "xwayland-satellite"
}
clipboard {
    disable-primary
}


input {
      focus-follows-mouse
    keyboard {
        repeat-delay 200
        repeat-rate 40
        xkb {
            layout "us,ara"
            options "grp:ctrl_space_toggle,numpad:mac"
        }
        numlock
    }

    touchpad {
       // natural-scroll
       accel-speed 0.25
       click-method "clickfinger"
       tap
    }
    mouse {
    }
    trackpoint {
    }
}

gestures {

    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }
        dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }

    hot-corners {
        top-left
    }
}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1
}


layout {
   background-color "#003300"
   gaps 10
    center-focused-column "never"
    always-center-single-column 
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.66667
      }
    tab-indicator {
        on

        hide-when-single-tab
        place-within-column
        gap 10
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 4
        corner-radius 16
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
    }

    default-column-width { proportion 0.50; }


    shadow {
        on
        softness 30
        spread 5
        offset x=5 y=10
        color "#0007"
    }
    
    struts {
        left 10
        right 10
        top 10
        bottom 10
    }
    
    insert-hint {
    }
}

// Startup Applications
spawn-sh-at-startup "doas /usr/bin/keyd"
spawn-sh-at-startup "dbus-launch waybar"
spawn-sh-at-startup "pipewire"
spawn-sh-at-startup "pipewire-pulse"
spawn-sh-at-startup "wireplumber"
spawn-at-startup "yin"
spawn-at-startup "awww-daemon" "--namespace" "backdrop"
spawn-at-startup "sh" "-c" "sleep 1 && yinctl --restore && yin-set-restore-backdrop"
spawn-at-startup "swaync"
spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "sh" "-c" "wl-paste --type image --watch cliphist store"
hotkey-overlay {
     skip-at-startup
}
layer-rule {
    match namespace="^awww-daemonbackdrop$"
    place-within-backdrop true
}
screenshot-path null
 animations {
     workspace-switch {
         spring damping-ratio=1.0 stiffness=60 epsilon=0.0001
 
     }
 
     window-open {
               custom-shader r"
 
             vec4 open_color(vec3 coords_geo, vec3 size_geo) {
                 float p = niri_clamped_progress;
                 vec2 uv = coords_geo.xy;
                 float colorPhase = 0.4;
 
                 vec3 tc = niri_geo_to_tex * vec3(uv, 1.0);
                 vec4 win = texture2D(niri_tex, tc.st);
 
                 float reveal = smoothstep(colorPhase, 1.0, p);
                 return win * reveal;
             }
 "
 
             duration-ms 1000
     }
 
     window-close {
       custom-shader r"
             // Ported from skwd-wall fadecolor transition
 
             vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                 float p = 1.0 - niri_clamped_progress;
                 vec2 uv = coords_geo.xy;
                 float colorPhase = 0.4;
 
                 vec3 tc = niri_geo_to_tex * vec3(uv, 1.0);
                 vec4 win = texture2D(niri_tex, tc.st);
 
                 float reveal = smoothstep(colorPhase, 1.0, p);
                 return win * reveal;
             }
 "
         duration-ms 700
     }
 
     horizontal-view-movement {
         spring damping-ratio=1.0 stiffness=60 epsilon=0.0001
     }
 
     window-movement {
         spring damping-ratio=1.0 stiffness=60 epsilon=0.0001
     }
 
     window-resize {
         spring damping-ratio=1.0 stiffness=60 epsilon=0.0001
     }
 
     config-notification-open-close {
         spring damping-ratio=0.6 stiffness=60 epsilon=0.001
     }
 
     exit-confirmation-open-close {
         spring damping-ratio=0.6 stiffness=60 epsilon=0.01
     }
 
     screenshot-ui-open {
         duration-ms 200
         curve "ease-out-quad"
     }
 
     overview-open-close {
         spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
     }
 
         recent-windows-close {
         spring damping-ratio=1.0 stiffness=100 epsilon=0.001
     }
 }
layer-rule {
    match namespace="rofi"
    match at-startup=true
    match layer="top"
    block-out-from "screencast"
    geometry-corner-radius 10
    background-effect {
        xray true
        blur true
        noise 0
        saturation 1
        liquid-glass {
            refraction-strength 80.0
            power-factor 10.0
            refraction-power 9.0
            glow-weight 0.0001
            edge-lighting 0.0
            saturation 1
            vibrancy 0.9
            adaptive-dim 0.0
            adaptive-boost 0.0
            physical-refraction 2
            lens-distortion 0.09
            fringing 10  

        }
    }
  }





layer-rule {
    match namespace="waybar"
    match at-startup=true
    match layer="top"
    opacity 0.9
    block-out-from "screencast"
    geometry-corner-radius 20
    background-effect {
        xray true
        blur true
                liquid-glass {
            refraction-strength 90.0
            power-factor 9.0
            refraction-power 9.0
            glow-weight 0.0001
            edge-lighting 0.0
            saturation 1
            vibrancy 0.9
            adaptive-dim 0.0
            adaptive-boost 0.0
            physical-refraction 2
            lens-distortion 0.09
            fringing 10

        }
    }
  }

window-rule {
    match app-id=r#".*"#
    geometry-corner-radius 15
    clip-to-geometry true
    background-effect {
        blur true
        xray true
        liquid-glass {
            refraction-strength 3.0
            power-factor 10.0
            refraction-power 1.0
            glow-weight 0.0001
            edge-lighting 0.2
            saturation 0.9
            vibrancy 0.2
            adaptive-dim 0.2
            adaptive-boost 0.2
            physical-refraction 0
            lens-distortion 0
            fringing 1
        }
    }
 }
  window-rule {
    match app-id=r#"telegram"#
    default-column-width { proportion 0.3;}
  }
window-rule {
    match app-id=r#"pcmanfm"#
    default-column-width { proportion 0.65;}
  }
window-rule {
    match app-id=r#"librewolf"#
    default-column-width { proportion 0.65; }
  }
window-rule {
    match app-id=r#"sxiv"#
    default-column-width { proportion 0.65; }
}

// Rules for xdg-desktop-portal-gtk
window-rule {
    match app-id=r#"xdg-desktop-portal-gtk"#
    open-floating true
    default-floating-position x=0 y=0
    min-width 400
    min-height 600
}
window-rule {
    match is-active=false
    opacity 0.959
}

 



binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+space { spawn "rofi" "-show" "drun"; }
    Mod+V { spawn "~/.config/rofi/cliphist/launcher.sh" "||" "pkill" "rofi"; }
    Mod+g { spawn "~/.config/rofi/wallpaper-changer/launcher.sh" "||" "pkill" "rofi"; }
    Mod+Return hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Super+C hotkey-overlay-title="Open Browser: LibreWolf" { spawn "librewolf"; }
    Super+Shift+Q hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp     allow-when-locked=true { spawn "light" "-A" "10"; }
    XF86MonBrightnessDown     allow-when-locked=true { spawn "light" "-U" "10"; }
    Mod+Shift+W { spawn "~/.local/bin/wallpaper random"; }   
    Mod+0 repeat=false { toggle-overview; }
    Mod+W repeat=true { toggle-overview; }
    Mod+Shift+o repeat=false { toggle-overview; }
    Mod+X repeat=false { close-window; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Shift+Return { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Shift+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Shift+L     { move-column-right; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+j { move-column-to-workspace 2; }
    Mod+Shift+k { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+S { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+b { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+N       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Print { screenshot; }
    Mod+Escape { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}
recent-windows {
    // off
    debounce-ms 60
    open-delay-ms 0
    highlight {
        urgent-color "#999999ff"
        active-color "#ff9999ff"
        padding 20
        corner-radius 30
    }

    previews {
        max-height 500
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}



blur {
    passes 2
    offset 2.5 
    noise 0.0 
    saturation 1.1 
}
