spawn-at-startup "bash" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "bash" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"
spawn-at-startup "wireplumber"
spawn-at-startup "awww-daemon"
spawn-at-startup "bash" "-c" "python3 /home/karasu/.config/quickshell/scripts/wa-notify.py"
spawn-at-startup "bash" "-c" "/home/karasu/.config/quickshell/scripts/wa-follow.sh"
spawn-at-startup "qs" "-d" "--path" "/home/karasu/.config/quickshell/shell.qml"
