spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "pipewire"
spawn-at-startup "pipewire-pulse"
spawn-at-startup "wireplumber"
spawn-at-startup "awww-daemon"
spawn-at-startup "swaybg" "-i" "/home/karasu/.cache/niri-backdrop-blur.jpg" "-m" "fill"
spawn-at-startup "bash" "-c" "python3 /home/karasu/.config/quickshell/scripts/wa-notify.py"
spawn-at-startup "bash" "-c" "/home/karasu/.config/quickshell/scripts/wa-follow-watch.sh"
spawn-at-startup "qs" "-d" "--path" "/home/karasu/.config/quickshell/shell.qml"
spawn-at-startup "bash" "-c" "cd /home/karasu/github/bombaclip && python3 -u bombaclip.py --token \"$(cat ~/.bombaclip_token)\" >> /tmp/bombaclip.log 2>&1"
