configuration {
    kb-row-up: "Up,Control+p,k";
    kb-row-down: "Down,Control+n,j";
    kb-row-left: "Control+Page_Up,h";
    kb-row-right: "Control+Page_Down,l";
}

@import "colors.rasi"

* {
    background-color: @background;
    text-color: @foreground;
}

window {
    width: 720px;
    height: 720px;
    anchor: center;
    location: center;
    background-color: @background;
    border: 5;
    border-radius: 20px;
    padding: 18px;
}

inputbar {
    children: [ prompt, entry ];
    padding: 8px 14px;
    border-radius: 20px;
    margin: 0px 0px 12px 0px;
}

prompt {
    font: "JetBrainsMono Nerd Font Bold 11";
    text-color: @accent;
}

mainbox {
    children: [ inputbar, listview ];
    spacing: 0px;
}

listview {
    layout: vertical;
    columns: 6;
    lines: 6;
    fixed-columns: true;
    fixed-height: true;
    spacing: 14px;
    scrollbar: true;
    scrollbar-width: 6px;
    cycle: false;
}

element {
    orientation: vertical;
    padding: 4px;
    border: 4px;
    border-color: transparent;
    border-radius: 20px;
    children: [element-icon, element-text];
}

element selected {
    border-color: @accent;
}

element-icon {
    size: 100px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element-text {
    font: "JetBrainsMono Nerd Font 10";
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    margin: 6px 4px 2px 4px;
}

scrollbar {
    handle-width: 6px;
    handle-color: @accent;
    handle-rounded-corners: true;
}
