configuration {
    kb-row-up: "Up,Control+p,k";
    kb-row-down: "Down,Control+n,j";
    kb-row-left: "Control+Page_Up,h";
    kb-row-right: "Control+Page_Down,l";
}

* {
    background-color: rgba ( 30, 30, 46, 1.0 );
    text-color: #ffffff; 
}

window {
    width: 720px;
    height: 720px;
    anchor: center;
    location: center;
    background-color: rgba ( 30, 30, 46, 1.0 );
    border: 5;
}

mainbox {
    children: [ listview ];
}

listview {
    layout: vertical;
    columns: 6;
    lines: 6;
    fixed-columns: true;
    fixed-height: true;
    spacing: 12px; 
    scrollbar: true;
    cycle: false;
}

element {
    orientation: vertical;
    padding: 0px ;
    border: 0px;
    children: [element-icon, element-text];
}

element selected {
    border: 4px;
    border-color: #89b4fa;
    border-radius: 8px;
}

element-icon {
    size: 100px; 
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element-text {
    font: "JetBrainsMono Nerd Font 10";
    text-color: inherit; 
    horizontal-align: 0.5;
    margin: 0px 0px 0px 0px; 
}

