overview {
    backdrop-color "{{colors.surface_container_lowest.dark.hex}}"
}

layout {
    border {
        active-color "{{colors.primary.light.hex}}"
        inactive-color "{{colors.on_surface_variant.light.hex}}"
        urgent-color "{{colors.error.light.hex}}"
    }
    focus-ring {
        active-color "{{colors.primary.light.hex}}"
        inactive-color "{{colors.on_surface_variant.light.hex}}"
        urgent-color "{{colors.error.light.hex}}"
    }
    shadow {
        color "{{colors.shadow.light.hex}}"
    }
}

recent-windows {
    highlight {
        active-color "{{colors.primary.light.hex}}"
        urgent-color "{{colors.error.light.hex}}"
    }
}
