overview {
    backdrop-color "{{colors.surface_container_lowest.default.hex}}"
}
layout {
   gaps 20
   border {
   off
  }
  focus-ring {
    width 0
  }
    center-focused-column "never"
    always-center-single-column 
    preset-column-widths {
        proportion 0.0
        proportion 0.0
        proportion 0.0
      }

    default-column-width { proportion 0.50; }

    shadow {
        on
        color "{{colors.shadow.default.hex}}"
        softness 30
        spread 10
        offset x=3 y=10
    }
    struts {
        left 10
        right 10
        top 10
        bottom 10
    }
} 
