@-moz-document domain("duckduckgo.com") {
  body, .site-wrapper {
    background-color: #16181e !important;
    color: #d5d8da !important;
  }
  .header-wrap {
    background-color: #2f3340 !important;
  }
  a, .result__title a {
    color: #25b2bc !important;
  }
}