@-moz-document domain("duckduckgo.com") {
  body, .site-wrapper {
    background-color: #0e1415 !important;
    color: #dde4e4 !important;
  }
  .header-wrap {
    background-color: #1a2121 !important;
  }
  a, .result__title a {
    color: #80d4da !important;
  }
}
