@-moz-document domain("duckduckgo.com") {
  body, .site-wrapper {
    background-color: #0f1417 !important;
    color: #dfe3e7 !important;
  }
  .header-wrap {
    background-color: #1b2023 !important;
  }
  a, .result__title a {
    color: #8ecff2 !important;
  }
}
